body
{
	 background-color:lightgrey;
	 
}
 @media only screen and (max-width:600px){
	
	.sidebar{
	display: none;
	width: 80% !important;
	height:100vh;
	position: fixed;
	padding-top: 20px;
	}
	
	.side-content{
	margin-left: 0% !important;
	}
	
}

.sidebar{
	width: 20%;
    height:100%;
	position: fixed;
	padding-top: 2%;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/sidebar1.jpg);
}
.sidebar a{
	display: block;
	width: 100%;
	padding: 15px 45px;
	text-decoration:none;
	color: white;
	}

.sidebar a:hover
{
	background: rgba(255, 99, 71, 0.4);
}

.sidebar.divider
{
	height: .5px;
	width: 100%;
	background: maroon;
 
}

.sidebar .crossBtn{
	position: absolute;
	top:0px;
	right: 65px;
	
	font-size: 36px;
	cursor: pointer;
} 
.carousel-inner
{
	background:black;
}


.content
{
	 margin-left: 20%;
}

.container
{
	display: block ;
	background-color: light;
}

.bannerr{
	
	width:100%;
	height:100vh;
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../images/Banner.jpg);
	background-size: cover;
	color:white;
	
	
}


*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	list-style-type:none;
	text-decoration:none;
	font-family:'Poppins',sans-serif;
}
