body
{
	 background-color: cyan;
}
.sidebar
{
	
	background-color: white;
	width: 18%;
	position: fixed;
	height: 100%;
	padding: 40px;
	
}

.content
{
	 margin-left: 20%;
}
.sidebar a
{
	display:block;
	width:100%;
	padding: 10px 25px;
	color:gray;
	text-decoration: none;
	
}
